[submodule "emacs/.emacs.d"]
	path = emacs/emacs.d
	url = https://github.com/Chizi123/.emacs.d.git
	branch = main
	ignore = all
[submodule "zsh/antidote"]
	path = zsh/antidote
	url = https://github.com/mattmc3/antidote.git
	branch = main
[submodule "bash/ble.sh"]
	path = bash/ble.sh
	url = https://github.com/akinomyoga/ble.sh.git
